@font-face {
    font-family: "glacial";
    src: url(fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: "lemon";
    src: url(fonts/LEMONMILK-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--dark-color);
    font-family: "glacial", sans-serif;
}

h1 {
    font-weight: bold;
}

svg {
    width: 25px;
    height: 25px;
    fill: var(--dark-color);
}

:root {
    --light-color: #fff2e7;
    --second-light-color: #e4cfb7;
    --third-light-color: #e4c19a;
    --dark-color: #2A2A2A;
    --highlight-1: #f5a930;
    --highlight-2: #5092Ab;
    --highlight-3: #c11e75;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--second-light-color);
}

.dashboard {
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    display: grid;
    grid-template-rows: 70px 300px 200px;
    gap: 30px;
    background-color: var(--highlight-3);
}

.dashboard>div {
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    align-items: center;
}

.dashboard h3,
.dashboard h1 {
    color: var(--second-light-color);
}

.header {
    padding: 15px;
    background-color: var(--light-color);
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr repeat(3, max-content);
    padding: 20px;
    justify-items: center;
    align-items: center;
    column-gap: 40px;
}

.bell {
    grid-column: 4 / 5;
}

.nav-profile {
    grid-column: 5 / 6;
}

.name {
    grid-column: 6 / 7;
}

.search-bar {
    height: 25px;
    width: 500px;
    background-color: var(--third-light-color);
    border-radius: 20px;
    border: 0px none;
}

.action-bar {
    display: grid;
    grid-template-columns: 1fr 500px repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 5px;
}

.action-bar>button {
    color: var(--light-color);
}

.welcome {
    justify-self: flex-start;
}

.new {
    grid-column-start: 4;
}

button {
    width: 80px;
    height: 30px;
    background-color: var(--highlight-2);
    border: 0px none;
    border-radius: 20px;
}

.main {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template: repeat(2, 300px) / 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.projects {
    grid-row: 1 / 4;
    display: grid;
    gap: 20px;
    row-gap: 40px;
    grid-template: 30px repeat(6, 1fr) / repeat(auto-fit, 390px);
}

.project-header {
    grid-column: 1 / -1;
}

.project {
    height: 180px;
    background-color: var(--light-color);
    border-radius: 40px;
    box-shadow: 0 25px 15px var(--third-light-color);
    padding: 20px;
}

.announce,
.trending {
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 5px;
}

.announcements,
.trending-tags {
    display: grid;
    padding: 20px;
    background-color: var(--light-color);
    border-radius: 30px;
    box-shadow: 0 25px 15px var(--third-light-color);
}

.trending-tag {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    align-items: center;
}

.tag-descript {
    grid-column-start: 2;
}

.profile {
    height: 50px;
}